* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие настройки */

body {
    font-family: 'Arial', sans-serif;
    /* Шрифт */
    line-height: 1;
    /* Межстрочный интервал */
    color: #333;
    /* Цвет текста */
}

/* Настройки для видимого содержимого */



.header {
    background-color: #4D65FF;
    /* Цвет фона */
    color: black;
    padding: 1rem 0;
    /* Внутренние отступы */
}

/* Настройка контейнера шапки сайта */

.container {
    display: flex;
    /* Делает контейнер более гибким, используется при адаптивной верстке*/
    justify-content: space-between;
    /* Распределяет содержимое по горизонтали */
    align-items: center;
    /* Вертикальное выравнивание по центру */
    max-width: 1200px;
    /* Максимальная ширина */
    margin: 0 auto;
    /* Внешние отступы сверху и снизу */
    padding: 0 20px;
    /* Внутренние отступы сверху и снизу отсутсвуют, а слева и справа 20рх*/
}

.text_logo {
    display: inline-block;
    /* Контейнер становится строчным-блочным */
}

.logo {
    font-size: 50px;
    /* Размер шрифта */
}

.text_logo_2 {
    font-size: 25px;
    text-align: center;
    /* Выравнивание текста по центру */
}

.image_logo {
    display: inline-block;
}

.imglogo {
    max-width: 60px;
    max-height: 60px;
}

.right_logo {
    display: flex;
    gap: 32px;
    /* Создает интервалы между элементами*/
    justify-content: center;
    /* Выравнивает все элементы внутри блока по центру */
    align-items: center;
    font-size: 15px;
}

.text {
    font-size: 18px;
}

.Phone {

    max-widht: 100px;
    max-height: 100px;
}

.Letter {
    max-widht: 100px;
    max-height: 100px;
}



.main {
    background-color: #FFB2B2;
    color: black;
    padding-bottom: 40px;
    /* Внутренний отступ снизу */
}

.nav {
    display: flex;
}

.nav-item {
    padding: 30px;
    flex: auto;
    /* Элементы можно растягивать и сжимать*/
    border: 8px solid #000000;
    /* Создаем границы для элементов*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/* Псевдокласс :hover для эффектов при наведении */
.nav-item:hover {
    background-color: #f089df;
    /* Изменение фона при наведении */
}

.name_centure {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 30px;

}

.cont_image {
    display: flex;
    justify-content: center;
    gap: 100 px;
}

.image {
    text-align: center;
}

.Picture_2 {
    margin-left: 200px;
    width: 550px;
    height: 350px;
    margin-bottom: 20px;
}

.Picture_1 {
    width: 550px;
    height: 350px;
    margin-bottom: 20px;
}

.image_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    align-items: center;
}

.image_text_2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    align-items: center;
    margin-left: 200px;
}



.footer {
    background-color: #4D65FF;
    color: black;
    font-size: 30px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text_1 {
    margin-left: 20px;
}

.Max {
    margin-right: 50px;
}